form {
  width: 20vw;
  margin: 0 auto;
}

.form-control {
  height: 2px;
}

input,
.form-floating {
  display: block;
  margin: 15px;
  width: 100%;
}

.hide-edit {
  display: none;
}

.show-edit {
  display: block;
}
